In [18]:
# Execute if necessary
# %%capture
# !pip install numpy seaborn matplotlib pandas

In [10]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from typing import Dict, Tuple, Union, List

# Práctica 3: Modelo Lineal

__Instrucciones__: A continuación hay una lista de funciones que debe implementar o tareas que debe desarrollar. La descripción de cada una de ellas se encuentra en la definición de cada una de las funciones. Cada función está marcada por &#x1F625;,  &#x1F643; o &#x1F921;. Las marcas indican:

- &#x1F625;: Indican una entrega que debe ser hecha dentro de la misma sesión de la asignación. 
- &#x1F643;: Indican una entrega que puede ser hecha hasta la siguiente sesión.
- &#x1F921;: Debe mostrar un avance en la misma sesión, pero la entrega puede ser hecha en la siguiente.

Aquellas entregas parciales que no sean hechas el día de la asignación ya no serán válidas para las entregas totales, sin embargo, las entregas totales seguirán siendo válidas.

En esta sección se incluye un dataset real. El dataset importado incluye multiples características que describen las condiciones de los pasajeros en el accidente del titanic.

- __PassengerId__: Identificador de cada pasajero.
- __Survived__: 0 si no sobrevivió al accidente, 1 si lo hizo.
- __Pclass__: Clase en la que viajaba el pasajero, 1 - Primera clase, 2 - Segunda clase y 3 - Tercera clase.
- __Name__: Nombre del pasajero.
- __Sex__: Sexo del pasajero.
- __Age__: Edad del pasajero.
- __SibSp__: Número de hermanos más número de esposas con las que viajaba el pasajero.
- __Parch__: Número de padres más número de hijos con las que viajaba el pasajero.
- __Ticket__: Número de boleto.
- __Fare__: Tarifa del boleto del pasajero.
- __Cabin__: Número de cabina del pasajero.
- __Embarked__: Puerto de embarcación, C - Cherbourg, Q - Queenstown y S - Southampton.

In [12]:
df = pd.read_csv("titanic (1).csv")
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## Asignación 1 &#x1F625;

Realice el preprocesamiento que considere adecuado para que las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__, __Embarked__ y __Survived__ puedan ser utilizadas por un modelo lineal.

In [1]:
import numpy as np
import pandas as pd
from typing import Dict, Tuple, Union, List
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#importar dataframe
df = pd.read_csv("titanic (1).csv")
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [3]:
#realizar preprocesamiento de datos
#eliminar columnas que no aportan informacion

df = df.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"])
df.head(3)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S

In [4]:
#eliminar filas con valores nulos 
df = df.dropna()

In [5]:
# eliminar la columna de embarque
df = df.drop(columns=["Embarked"])

In [6]:
#preprocesar los datos de Sex y Embarked para que sean numericos
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder
categorical_vars = ["Sex"]
one_hot_encoder = OneHotEncoder(sparse=False, drop = "first")

# aplicar la logica del one hot encoder a las variables categoricas
encoder_vars_array = one_hot_encoder.fit_transform(df[categorical_vars])

# crear un objeto para los nombres de las variables usando las variables categoricas
encoder_feature_names = one_hot_encoder.get_feature_names_out(categorical_vars)

# crear un dataframe para guardar las variables codificadas
encoder_vars_df = pd.DataFrame(encoder_vars_array, columns = encoder_feature_names)

# concatenar el nuevo dataframe con las variables codificadas al dataframe original
X_new = pd.concat([df.reset_index(drop=True), encoder_vars_df.reset_index(drop=True)], axis = 1)

# eliminar las variables categoricas del dataframe original
X_new.drop(categorical_vars, axis = 1, inplace = True)

/opt/homebrew/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
X_new.head(3)

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_male
0         0       3  22.0      1      0   7.2500       1.0
1         1       1  38.0      1      0  71.2833       0.0
2         1       3  26.0      0      0   7.9250       0.0

¿Qué se necesita para realizar una regresión lineal?
1. Una variable dependiente y una variable independiente
2. Una relación lineal entre las variables
3. Que los datos sean continuos

## Asignación 2 &#x1F625;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__ y __Embarked__, entrene un clasificador lineal para predecir __Survived__ utilizando el algoritmo _pocket_. Imprima el error obtenido.

Uitilizando una Regresion Logistica

In [8]:
#entrenar un clasificador lineal para predecir la supervivencia de los pasajeros
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

#eliminar los na de X_new
X_new = X_new.dropna()
X_new2 = X_new

#separar los datos en variables independientes y dependientes
X = X_new.drop(columns=["Survived"])
y = X_new["Survived"]

#separar los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#entrenar el modelo
model = LogisticRegression()
model.fit(X_train, y_train)

#evaluar el modelo
from sklearn.metrics import accuracy_score

y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

#realizar predicciones
#crear un dataframe con los datos de un pasajero
new_passenger = pd.DataFrame({
    "Pclass": [1],
    "Age": [22],
    "SibSp": [1],
    "Parch": [0],
    "Fare": [7.25],
    "Sex_male": [0.0],
})



print("Precicion del modelo: ", accuracy_score(y_test, y_pred))
#predecir la probabilidad de supervivencia del pasajero
print("Probabilidad de supervivencia: ", model.predict_proba(new_passenger)[0][1])

Precicion del modelo:  0.7902097902097902
Probabilidad de supervivencia:  0.9438468687689205

/opt/homebrew/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Utilizando scikit learn

In [25]:
from sklearn.linear_model import Perceptron
import pandas as pd

df = X_new

X_train = df.iloc[:80,:-1]
y_train = df.iloc[:80,-1]
X_test = df.iloc[80:,:-1]
y_test = df.iloc[80:,-1]

# Initialize the Pocket Algorithm
pocket = Perceptron(max_iter=1000)

# Fit the model to the training data
pocket.fit(X_train, y_train)

# Predict the target values for the test data
y_pred = pocket.predict(X_test)

# Evaluate the performance of the model
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error: ', mse)
print('Accuracy: ', 1 - mse)
print('Predicted values: ', y_pred)
print('Actual values: ', y_test.values)

Mean Squared Error:  0.3560126582278481
Accuracy:  0.6439873417721519
Predicted values:  [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1.
 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1.
 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1.]
Actual values:  [1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0.
 0. 1. 1. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1.
 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1.
 0. 1. 0. 0. 1. 0. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1.
 1. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0.
 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 1. 1.
 1. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 1.
 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 1. 1.
 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1.
 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 1. 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0.
 1. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0.
 1. 0. 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 1.
 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 1. 1.
 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1.
 0. 1. 0. 0. 1. 1. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1.
 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1.
 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1.
 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1. 1. 1. 0.
 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0.
 0. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1.
 0. 1. 1. 0. 1. 0. 1. 1.]

In [29]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

#eliminar los na de X_new
X_new2 = X_new.dropna()

#separar los datos en variables independientes y dependientes
X = X_new2.drop(columns=["Survived"])
y = X_new2["Survived"]

X.head(3)

   Pclass   Age  SibSp  Parch     Fare  Sex_male
0       3  22.0      1      0   7.2500       1.0
1       1  38.0      1      0  71.2833       0.0
2       3  26.0      0      0   7.9250       0.0

Utilizando algoritmo Pocket

In [33]:
import numpy as np
import pandas as pd

# Split the data into training and testing sets

#Eliminar survival de X_new2
dfY = X_new2["Survived"]
dfX = X_new2.drop(columns=["Survived"])

#separar los datos en entrenamiento y prueba
X_train = X_new2.iloc[:570,1:].values
y_train = X_new2.iloc[:570,:1].values
X_test = X_new2.iloc[:142,1:].values
y_test = X_new2.iloc[:142,:1].values


# Inicializar el algoritmo de Pocket
w = np.zeros(X_train.shape[1])
w_pocket = np.zeros(X_train.shape[1])
T = 1000
err_pocket = np.inf

# Ajustar el modelo a los datos de entrenamiento
for t in range(T):
    # Select a random training example
    i = np.random.randint(X_train.shape[0])
    xi = X_train[i,:]
    yi = y_train[i]
    
    # Compute the predicted target value
    yi_hat = np.sign(np.dot(w, xi))
    
    # Update the weight vector
    if yi_hat != yi:
        w = w + yi * xi
        
        # Evaluate the performance of the updated weight vector
        y_pred = np.sign(np.dot(X_train, w))
        err = np.sum(y_pred != y_train) / y_train.shape[0]
        
        # Check if the updated weight vector is better than the pocket weight vector
        if err < err_pocket:
            err_pocket = err
            w_pocket = np.copy(w)
        
# Predict the target values for the test data
y_pred = np.sign(np.dot(X_test, w_pocket))

# Evaluate the performance of the model
mse = np.mean((y_test - y_pred)**2)
print('Mean Squared Error: ', mse)
print('Accuracy: ', 1 - mse)

Mean Squared Error:  0.6901408450704225
Accuracy:  0.3098591549295775

## Asignación 3 &#x1F625;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Cabin__ y __Embarked__, entrene una regresión lineal para predecir __Fare__ utilizando el algoritmo de Ordinary Leasts Squares (OLS). Imprima el valor del error cuadrático medio (MSE).

In [7]:
# importar titanic (1).csv a una variable llamada df
import pandas as pd
df = pd.read_csv("titanic (1).csv")

# eliminar las columnas PassengerId, Name, Ticket y Cabin
df = df.drop(columns=["PassengerId", "Name", "Ticket", "Cabin","Survived","Age","Cabin","Fare"])

# eliminar las filas con valores nulos
df = df.dropna()

df

# utilizar oneHotEncoding para embarked y Sex 
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder
categorical_vars = ["Sex", "Embarked"]
one_hot_encoder = OneHotEncoder(sparse=False, drop = "first")

# aplicar la logica del one hot encoder a las variables categoricas
encoder_vars_array = one_hot_encoder.fit_transform(df[categorical_vars])

# crear un objeto para los nombres de las variables usando las variables categoricas
encoder_feature_names = one_hot_encoder.get_feature_names_out(categorical_vars)

# crear un dataframe para guardar las variables codificadas
encoder_vars_df = pd.DataFrame(encoder_vars_array, columns = encoder_feature_names)

# concatenar el nuevo dataframe con las variables codificadas al dataframe original
X_new = pd.concat([df.reset_index(drop=True), encoder_vars_df.reset_index(drop=True)], axis = 1)

# eliminar las variables categoricas del dataframe original
X_new.drop(categorical_vars, axis = 1, inplace = True)

X_new.head(3)

/opt/homebrew/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

   Pclass  SibSp  Parch  Sex_male  Embarked_Q  Embarked_S
0       3      1      0       1.0         0.0         1.0
1       1      1      0       0.0         0.0         0.0
2       3      0      0       0.0         0.0         1.0

In [32]:
#separar los datos en variables independientes y dependientes
X = X_new2.drop(columns=["Survived"])
y = X_new2["Survived"]

#separar los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Asignación 4 &#x1F921;

Utilizando las características __Pclass__, __Sex__, __SibSp__, __Parch__, __Fare__, __Cabin__ y __Embarked__, entrene un clasificador lineal para predecir la probabilidad de supervivencia __Survived__ utilizando el algoritmo de gradiente descendente estocástico y la entropía cruzada como función de error. Imprima el arror en cada iteración del gradiente.